html,body,h1,h2,h3,h4,ul,ol,li,p,a {
    padding: 0;
    border: 0;
    margin: 0;
}
body {
    padding: 10px;
    font-weight: 700;
    font-family:arial;
}
h1 {
    font-weight: 900;
}
h2 {
    margin: 20px 0 0 0;
    font-weight: 900;
}
h3 {
    color:darkgrey;
    border-bottom: 1px solid darkgrey;
    margin: 20px 0 5px 0;
}
h4 {
    margin:10px 0;
}
p {
   font-weight: 500;
}
a {
    
}
ul {

}
li {
    margin:  5px 0 0 30px;
}
ol {
    margin:  0 0 0 -10px;
}

nav {

}

nav li {
    display:inline-block;
    margin: 20px 0 0 0;
}

nav li a {
    text-decoration:none;
    text-transform:uppercase;
    color:#00ff00;
    margin: 0 30px 0  0 ;
}